.movie-card {
  padding: 20px;
  margin: 20px;
  flex: 0 0 25%;
  background-color: #D91656;
  border-radius: 8px;
}

.movie-cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-margin-top: 300px;
}

.search-input {
  height: 25px;
  font-size: 18px;
  background-color: mistyrose;
}

.search-btn {
  margin-left: 10px;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-device-width: 600px) {
  .movie-cards {
    flex-direction: column;
  }
  .search-input {
    font-size: 3em;
    height: 1.5em;;
  }
  .search-btn {
    font-size: 3em;
  }
}