.movie-card {
  padding: 20px;
  margin: 20px;
  flex: 0 0 25%;
  background-color: deeppink;
  border-radius: 8px;
}

.movie-cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-margin-top: 300px;
}

.search-input {
  height: 25px;
  font-size: 18px;
  background-color: mistyrose;
}

.search-btn {
  margin-left: 10px;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
